.header {
    background-color: var(--bg-secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    gap: 3rem;
    .options-wrapper{
        gap: 1rem;
        display: flex;
        flex-wrap: nowrap;
        flex: 1;
        form {
            display: flex;
            flex: 1;
            flex-wrap: nowrap;
            gap: 1rem;
            input{
                flex: 1;
            }
        }
    }

}