.left-sidebar{
    padding-right: 3rem;
}

.left-menu{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;


    li{
        padding: 1rem;
        cursor: pointer;
    }

    .menu-title{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--text-tertiary);
        font: 600 1.2rem/140% var(--font-family);
        padding-block: 1rem;
        border-bottom: solid 1px var(--bg-primary);
    }

    .menu-list{
        display: flex;
        flex-direction: column;
        li {
            border-bottom: solid 1px var(--bg-primary);
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    
    .project-list{
        height: 100%;

        li {
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: solid 1px var(--bg-primary);
            a {
                gap: .5rem;
                text-decoration: none;

                font-weight: 400;
                span{
                    background-color: var(--brand-secondary);
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                }
            }

        }

    }

    .nav-bottom{
        margin-top: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        li{
            border-top: solid 1px var(--bg-primary);
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            a{
                text-decoration: none;
                gap: .5rem;
            }
        }
    }
}