{% load static %}

<header class="header container">
    <div class="logo-line">
        <img src="{% static 'frontend/svgs/trek-blue.svg' %}" alt="">
        Task<span>Trek</span>
    </div>
    <div class="options-wrapper">
        <form action="">
            <input class="input input-primary-sm" type="text">
            <button class="btn btn-primary">Buscar</button>
        </form>
        <button 
            class="btn btn-success"
            hx-get="{% url 'create_task_modal' %}" 
            hx-target="body" 
            hx-swap="beforeend"
        >
            <i class="fa-solid fa-plus"></i>
            Nova tarefa
        </button>
        <a class="btn"">
            <i class="fa-regular fa-user fa-2x"></i>
        </a>
    </div>
</header>