{% load static %}

<div class="left-sidebar hide-on-mobile">
    <div class="container left-menu">
        <h2 class="menu-title">Menu</h2>
        <ul class="menu-list">
            <li>
                <button class="btn btn-invisible">
                    <i class="fa-regular fa-calendar-check"></i>
                    Em breve
                </button>
            </li>
        </ul>
        <h2 class="menu-title">Projetos</h2>
        <ul class="project-list">
            <li> <a href="" class="btn"><span></span> Project 1</a></li>
            <li> <a href="" class="btn"><span></span> Project 2</a></li>
        </ul>
        <nav class="nav-bottom">
            <ul>
                <li>
                    <a href="" class="btn">
                        <i class="fa-solid fa-gear"></i>
                        Configurações
                    </a>
                </li>
                <li>
                    <a href="" class="btn">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        Log out
                    </a>
                </li>
            </ul>


        </nav>
    </div>

</div>