:root {
    --font-family: 'Poppins', sans-serif;

    --bg-primary: #f0f0f0;
    --bg-secondary: #ffffff;
    --brand-primary: #003d8f;
    --brand-secondary: #0050b3;
    --brand-tertiary: #1a65c7;
    --text-primary: #192232;
    --text-secondary: #344354;
    --text-tertiary: #B0B0C0;


    --text-success: #155724;
    --text-danger: 	#721c24;
    --text-warning:#856404;

    --success: #5cb85c;
    --success-hover: #79c479;
    --danger: #d9534f;
    --warning: 	#f0ad4e;
    --neutral: #6B7280;
    --neutral-hover: #9CA3AF;


}

*, button, input, textarea {
    font: 500 1rem/140% var(--font-family);
    color: var(--text-primary);

}

* {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background-color: var(--bg-primary);
}

.container {
    background-color: var(--bg-secondary);
    border-radius: 20px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12), 
                0 4px 8px rgba(0, 0, 0, 0.08);

}
