.login {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-primary);
    .container {
        display: flex;
        gap: 2rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        width: 400px;
        background-color: var(--bg-secondary);
        border-radius: 12px;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12), 
                    0 4px 8px rgba(0, 0, 0, 0.08);

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}