{% load static %}

<header class="header container">
    <div class="logo-line">
        <img src="{% static 'frontend/svgs/trek-blue.svg' %}" alt="">
        Task<span>Trek</span>
    </div>
    <div class="options-wrapper">
        <form action="">
            <input class="input input-primary-sm" type="text">
            <button class="btn btn-primary">Buscar</button>
        </form>
        <label class="btn btn-success" for="new-task-toggle">
            <i class="fa-solid fa-plus"></i>
            Nova tarefa
        </label>
        <a class="btn"">
            <i class="fa-regular fa-user fa-2x"></i>
        </a>
    </div>
</header>