{% load static %}

<input type="checkbox" id="new-task-toggle" hidden>

<div class="new-task-modal">
    <label for="modal-toggle" class="overlay"></label> <!-- Fecha ao clicar fora -->
  
    <div class="modal-content">
      <header>
        <h2>Nova tarefa</h2>
        <label for="new-task-toggle" class="btn btn-invisible"><i class="fa-solid fa-xmark"></i></label>
      </header>
      <form 
        hx-post="{% url 'new_task' %}" 
        hx-swap="none"
        hx-on="htmx:afterRequest: this.reset();"
      >
        {% csrf_token %}
        <input type="text" placeholder="Título da tarefa" required class="name-input" name="name">
        <textarea placeholder="Comentários" class="comment-input" name="comments"></textarea>
        <div class="input-wrapper">
          <input type="date" class="date-input" id="date-input" name="date">
          <input type="time" class="time-input" name="time">
          <select
            name="project" 
            class="project-select"
          >
            <option value="" class="placeholder" selected disabled>Selecione um projeto</option>
            {% for project in projects %}
              <option value="{{ project.id }}">{{ project.name }}</option>
            {% endfor %}
          </select>
        </div>
        <footer>
          <label for="new-task-toggle" class="btn btn-neutral">Cancelar</label>
          <button type="submit" class="btn btn-primary">Criar</button>

        </footer>
      </form>

    </div>
</div>