{% load static %}

<div class="taskbar">
    <div class="container tasks">
        <header>
            <h3>Hoje (1)</h3>
            <button class="btn btn-invisible">
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </button>
        </header>
        <ul class="tasklist">
            <li class="task">
                <span class="check-wrapper">
                    <i class="fa-solid fa-check"></i>
                    <input type="checkbox">
                </span>
                <span class="task-name">Reunião com o cliente</span>
                <button class="btn btn-invisible">
                    <i class="fa-solid fa-pen-to-square"></i>
                </button>
            </li>
            <li class="task">
                <span class="check-wrapper">
                    <i class="fa-solid fa-check"></i>
                    <input type="checkbox">
                </span>
                <span class="task-name">Reunião com o cliente</span>
                <button class="btn btn-invisible">
                    <i class="fa-solid fa-pen-to-square"></i>
                </button>
            </li>
        </ul>
    </div>
</div>